Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
psycopg2-binary>=2.9
python-dotenv>=1.0
django-cors-headers>=4.3
gunicorn>=21.2
channels
channels-redis
daphne
uvicorn
whitenoise
dj-database-url